<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna - PAPU Kitchen</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards/cards.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <!-- Navbar -->
    {% include 'navbar.html' %}





    <div class="text-page">
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h1 class="pb-3">O NAS</h1>
                        <p>
                            Młodzi ludzie z pomysłami
                        </p>
                        <p>
                            W życiu codziennym staramy się otaczać dobrymi i&nbsp;pozytywnymi ludźmi z&nbsp;pasją. Tak tez powoli, krok po kroku, nasz zespól z&nbsp;takich powstał.<br>
                            Dziś pracujemy razem, śmiejemy się razem, a&nbsp;także czasem kłócimy. Ale przyświeca nam jeden cel: <strong>przekazywać dobre emocje</strong>.
                        </p>
                        <p>
                            Chcesz do nas dołączyć? Śmiało! Skontaktuj się z nami – kontakt@papu.kitchen
                        </p>
                        <p>
                            Staramy się być profesjonalni, ale zarazem nie chcemy utracić swobodnej i&nbsp;radosnej atmosfery. Stawiamy na rozwój aby sprostać Waszym oczekiwaniom. Priorytetem dla nas jest, abyście spędzali u&nbsp;nas wspaniale chwile, pełne rozmów z&nbsp;przyjaciółmi, szczerych uśmiechów, dobrego i&nbsp;zdrowego jedzenia. Chcemy by było Wam u&nbsp;nas dobrze! Bo to WY - nasi goście jesteście dla nas najważniejsi!
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                            <div class="image-holder">
                                <img src="{{ url_for('static', filename='images/o-nas.jpg') }}" alt="O nas - zdjęcie">
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero text-center py-5">
            „Dobrzy ludzie, dobre jedzenie, dobry czas“
        </section>
    </div>




        <!-- Stopka -->
    {% include 'footer.html' %}

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Owl Carousel Initialization -->
</body>
</html>
