body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.tables {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.table {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.qr-code {
    max-width: 150px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form {
    background: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #81c134;
    color: white;
    border: none;
    cursor: pointer;
    width: 300px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


input[type="text"],
input[type="number"],
textarea,
button {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}



/* Styl przycisku usuwania */
.delete-btn {
    background-color: #FF4E42; /* Przyjemniejszy koralowy odcień */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right; /* Przesunięcie na prawą stronę */
}

.delete-btn:hover {
    background-color: #de2718; /* Intensywniejszy odcień koralowy przy najechaniu */
}

.menu-item-image {
    width: 100%;
    max-height: 220px; /* Maksymalna wysokość zdjęcia */
    height: auto;      /* Zachowaj proporcje */
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover;  /* Wypełnia ramkę, przycięcie nadmiaru */
}

.menu-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-item h2 {
    font-size: 1.2rem;
}

.menu-item p {
    color: #666;
}

.menu-item button {
    width: auto;
    align-self: flex-start;
}


.events {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.event h3 {
    font-size: 1.5rem;
}

.event p {
    margin: 5px 0;
}

.event img {
    width: 100%;
    max-height: 220px;
    border-radius: 5px;
    margin-top: 10px;
    object-fit: cover;  
}


.slider {
  width: 50px;
  height: 20px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  border: 4px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider {
  background-color: #4CAF50;
}

.checkbox:active ~ .slider::before {
  transform: translate(0);
}
