/* Ogólny styl dla strony tekstowej */
.text-page {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Styl dla nagłówka */
.text-page .header {
    background-color: #ecf2db;
    padding: 50px 0;
}

.text-page .header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #545454;
    text-transform: uppercase;
}

.text-page .header p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.text-page .header strong {
    font-weight: bold;
    color: #81c134;
}

/* Styl dla obrazka */
.text-page .header .image-holder {
    width: 100%;
    height: auto; /* Dopasowanie wysokości do proporcji obrazka */
    max-height: 600px; /* Opcjonalnie: ograniczenie maksymalnej wysokości */
    background-size: contain; /* Zapewnia, że cały obraz będzie widoczny */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-page .header .image-holder img {
    width: 100%; /* Dopasowanie szerokości */
    height: auto; /* Automatyczna wysokość dla zachowania proporcji */
    max-height: 600px;
    object-fit: cover; /* Zapewnia dobre kadrowanie */
    border-radius: 10px;
}


/* Sekcja hero */
.text-page .hero {
    background-color: #81c134;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 40px 20px;
    margin: 20px 0;
    border-radius: 5px;
}

/* Responsywność */
@media (max-width: 992px) {
    .text-page .header h1 {
        font-size: 2rem;
    }

    .text-page .header .image-holder {
        height: 250px;
    }

    .text-page .hero {
        font-size: 1.25rem;
        padding: 30px 15px;
    }
}

@media (max-width: 768px) {
    .text-page .header h1 {
        font-size: 1.8rem;
    }

    .text-page .header .image-holder {
        height: 200px;
    }

    .text-page .hero {
        font-size: 1.1rem;
    }
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-body {
    text-align: center;
}

