<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sałaty - PAPU Kitchen</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards/cards.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

    <!-- Navbar -->
    {% include 'navbar.html' %}





    <div class="text-page">
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h1 class="pb-3">...a sałata lubi towarzystwo</h1>
                        <p>
                           Każdy, kto dba o linię, wie, że <b>sałata</b> jest jego przyjacielem, bo <b>składa się w 90 % z wody i ma mało kalorii</b>. Skoro nasza bohaterka jest tak lekka, to masz prawo połączyć ją z innymi pysznościami. Może sałata ……. w wersji fit? Z grillowanym kurczakiem, pomidorami, z dodatkiem rzodkiewki, papryki i kiełków oraz grzankami z razowca zrumienionymi na suchej patelni. Jeśli do sałaty dodasz porcję białka, będzie sycącym, ale lekkim posiłkiem, jak np. ……. z jajkiem i tuńczykiem. Używaj różnych sałat i liści – <b>buraków, szpinaku, szczawiu</b>. 

                        </p>
                        <p>
                            Wybierz jedna z naszych propozycji lub skomponuj swoją ulubioną sałatę osobiście. 
                        </p>

                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="image-holder" style="background-image: url('/static/images/salatki.jpg')"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero text-center py-5">
            „Dobrzy ludzie, dobre jedzenie, dobry czas“
        </section>

        <section>
            <div class="container my-5">
                <h2 class="text-center">Nasz Sałatki</h2>
                <div class="row">
                    {% for item in menu_items %}
                    <div class="col-md-4 my-3">
                        <div class="card">
                            {% if item.image_filename %}
                            <img src="{{ url_for('uploaded_file', filename=item.image_filename) }}" class="card-img-top" alt="{{ item.name }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                                <p class="card-text"><strong>Cena:</strong> {{ item.price }} PLN</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </section>
    </div>




        <!-- Stopka -->
    {% include 'footer.html' %}

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Owl Carousel Initialization -->
</body>
</html>
