<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel Administratora{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="admin-container">
        <!-- Sidebar -->
        <nav class="sidebar">
            <button class="toggle-sidebar" onclick="toggleSidebar()">&#9776;</button>
            <div class="uls">
                <h2>Panel Administratora</h2><hr>

                <div class="only-worker-ul">
                    <ul>
                        <li class="sidebar-item"><a href="http://papu.kitchen/">Strona Główna Restauracji</a></li>
<!--                         <li class="sidebar-item"><a href="{{ url_for('waiter_view') }}">Widok Kelnera</a></li>
                        <li class="sidebar-item"><a href="{{ url_for('kitchen_view') }}">Widok Kuchni</a></li>
                        <li class="sidebar-item"><a href="http://ordering-deploy.onrender.com/menu/2">Zamawianie</a></li> -->
                        <!-- <li class="sidebar-item"><a href="">Rezerwacje stolików</a></li>                 -->
                    </ul>
                </div>
                <hr>
                <div class="admin-ul">
                    <ul>
                        <li class="sidebar-item"><a href="{{ url_for('admin_panel') }}">Zarządzaj Aktualnym Menu</a></li>
                        <!-- <li class="sidebar-item"><a href="{{ url_for('add_tables') }}">Stoliki</a></li> -->
                        <li class="sidebar-item"><a href="{{ url_for('add_events') }}">Zarządzaj Wydarzeniami</a></li>
                        <li class="sidebar-item"><a href="{{ url_for('admin_add_popup') }}">Zarządzaj Pop-upem</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main Content Area -->
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
<script>
    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('collapsed');
    }


    document.addEventListener('DOMContentLoaded', () => {
        const sidebarItems = document.querySelectorAll('.sidebar-item a');

        sidebarItems.forEach(item => {
            if (item.href === window.location.href) {
                item.parentElement.classList.add('active');
            }
        });
    });
</script>
</html>
