{% extends "admin_base.html" %}

{% block title %}Dodawanie Stoliki i Generowanie QR Kodów{% endblock %}

{% block content %}
<h1>Dodaj Stoliki</h1>

<p class="admin-info">
    W tej sekcji możesz dodawać stoliki do systemu. <br>Po dodaniu stolika zostanie wygenerowany kod QR, 
    który możesz umieścić na stoliku, aby umożliwić gościom składanie zamówień do tego stolika za pomocą skanowania kodu.
    Kody generowane są jednorazowo i każdy z nich jest przypisany do konkretnego stolika.
</p>

<form method="POST">
    <label for="table_count">Wprowadź liczbę stolików do dodania:</label>
    <input type="number" id="table_count" name="table_count" min="1" required>
    <button type="submit">Dodaj Stoliki</button>
</form>

<h2>Istniejące Stoliki</h2>
<div class="tables">
    {% for table in tables %}
        <div class="table">
            <p>Stolik ID: {{ table.id }}</p>
            <img src="{{ url_for('uploaded_file', filename='table_' ~ table.id ~ '.png') }}" 
                 alt="QR Code for Table {{ table.id }}" 
                 class="qr-code">
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock %}
